.botones{

    padding : 1% !important;
    height: 10% !important;
    padding-left: 3% !important;
    padding-right: 3% !important;
}

.item_input{
    padding : 1% !important;
    height: 10% !important;
    padding-left: 3% !important;
    padding-right: 3% !important;
}

.titulo{
    padding : 2% !important;
    padding-left: 4% !important;
    
}