<ion-content>

  <h3 class="titulo">Iniciar Sesión</h3>

  
  <ion-item class="item_input">
    <ion-label class="normal" position="floating">
        E-mail
    </ion-label>
    <ion-input [(ngModel)] = "usuario.email" class="normal" type="email" inputmode="text">

    </ion-input>
  </ion-item>

  <ion-item class="item_input">
    <ion-label class="normal" position="floating">
        Contraseña
    </ion-label>
    <ion-input [(ngModel)]="usuario.password" class="normal" type="password" inputmode="text" >

    </ion-input>
  </ion-item>

  <ion-button expand="full" (click)="iniciarSesion()" class="botones" color="danger">
    Iniciar Sesión
  </ion-button>
  <ion-button expand="full" (click)="crearCuenta()" class="botones" color="danger">
    Crear Cuenta
  </ion-button>


</ion-content>